
body{
    background-color: #DDDDDD
    
}

#formWrap{
    
font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
        
    /* font-family: Hiragino Mincho ProN,ヒラギノ明朝 Pro W6,Hiragino Mincho Pro,HGS明朝E,Yu Mincho,YuMincho,ＭＳ Ｐ明朝,serif; */
}

.head{
    background-color:#222222;
    color: white;
    padding : 15px 5px;
    text-align:center;
}

.formTable{
    display: flex;
    justify-content: center;
}
